---
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import SkillContainer from '../components/skills/SkillContainer.astro'
---

<Layout title={`Skills - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class='page-container'>
    <h1 class='gradient-text page-title'>Skills</h1>

    <p>
      フロントエンド・サーバーサイド・インフラをやっています。
      <br>※現在表示されているものは、教材を参考にしたものです。今後自身が学習した内容に合わせてアップデートしていきます。
    </p>

  <SkillContainer />
  </main>
</Layout>

<style>
  .p{
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
</style>
